# Dictionaries

In [2]:
my_dict = {
    "key_1": 1,
    "key_2": 42,
    "key_3": "Hello"
}
type(my_dict)

dict

In [3]:
my_dict = {
    "key_1": 1,
    "key_2": 42,
    "key_3": "Hello",
    "key_1": 25
}
print(my_dict)

{'key_1': 25, 'key_2': 42, 'key_3': 'Hello'}

In [4]:
{
    "a": 1,
    2: 2,
    3.14: "pi"
}

{'a': 1, 2: 2, 3.14: 'pi'}

In [5]:
{[1, 2, 3]: 1}

TypeError: unhashable type: 'list'

In [6]:
{
    'a': [1, 2, 3],
    'b': {'key': 'value'},
    'c': [1, 2, 3]
}

{'a': [1, 2, 3], 'b': {'key': 'value'}, 'c': [1, 2, 3]}

In [7]:
car = {
    'Brand': 'Audi',
    'Model': 'A3',
    'Year': 2003
}

print(car['Brand'])

Audi

In [8]:
car = {
    'Brand': 'Audi',
    'Model': 'A3',
    'Year': 2003,
    'Owner': {'Name': 'John', 'Age': 42}
}

print(car['Owner'])
print()
print(car['Owner']['Name'])

{'Name': 'John', 'Age': 42}

John

In [9]:
print(car['Colour'])

KeyError: 'Colour'

In [10]:
car = {
    'Brand': 'Audi',
    'Model': 'A3',
    'Year': 2003
}
car['Year'] = 2021
print(car)

{'Brand': 'Audi', 'Model': 'A3', 'Year': 2021}

In [11]:
car['Colour'] = 'Black'
print(car)

{'Brand': 'Audi', 'Model': 'A3', 'Year': 2021, 'Colour': 'Black'}

In [12]:
car = {
    'Brand': 'Audi',
    'Model': 'A3',
    'Year': 2003
}

new_dict = {
    'Colour': 'Black',
    'Year': 2020
}

car.update(new_dict)
print(car)

{'Brand': 'Audi', 'Model': 'A3', 'Year': 2020, 'Colour': 'Black'}

In [13]:
car = {
    'Brand': 'Audi',
    'Model': 'A3',
    'Year': 2003
}

del car['Year']
print(car)

{'Brand': 'Audi', 'Model': 'A3'}

In [14]:
car = {
    'Brand': 'Audi',
    'Model': 'A3',
    'Year': 2003
}
 
car.pop('Year')
print(car)

{'Brand': 'Audi', 'Model': 'A3'}

In [15]:
car.keys()

dict_keys(['Brand', 'Model'])

In [16]:
car.values()

dict_values(['Audi', 'A3'])

In [17]:
car.items()

dict_items([('Brand', 'Audi'), ('Model', 'A3')])

# Tuples

In [18]:
my_tup = (1, 2, 3, 4)

In [20]:
my_tup[2]

3

In [21]:
my_tup[2] = 10

TypeError: 'tuple' object does not support item assignment

In [22]:
x = (1)
type(x)

int

In [23]:
x = (1,)
type(x)

tuple

In [24]:
x = tuple([1])
type(x)

tuple

In [25]:
my_tuple = ('a', 1, 'x')

x, y, z = my_tuple
print(x, y, z)

a 1 x

# Booleans and operators

In [26]:
True
False

False

In [27]:
# Comparison Operators
x = 6
y = 7
print(f"Is x equal to y? {x == y}")
print(f"Is x different from y? {x != y}")
print(f"Is x greater than y? {x > y}")
print(f"Is x lower than y? {x < y}")
print(f"Is x greater or equal than y? {x >= y}")
print(f"Is x greater or lower than y? {x <= y}")

Is x equal to y? False
Is x different from y? True
Is x greater than y? False
Is x lower than y? True
Is x greater or equal than y? False
Is x greater or lower than y? True

In [28]:
# Logical Operators
x = 6
y = 7
z = 5

print(x > z)

print(y == x)

print(x > z and y == x)  # It returns True only if both True

True
False
False

In [29]:
print(x > z or y == x)  # It returns True only if one is True

True

In [30]:
x = 6
y = 7

print(x > y)

print(not(x > y))

False
True

In [34]:
x = 1
y = 1
x is  y

True

In [35]:
list_1 = [1, 2, 3]
list_2 = [1, 2, 3]

list_1 is list_2

False

In [36]:
list_3 = ['a', 'b', 'c']
list_4 = list_3

list_3 is list_4

True

In [37]:
my_list = [1, 2, 3]
1 in my_list

True

In [38]:
my_list = [1, 2, 3]
1 not in my_list

False