# CRUD Altering Tables

## Which statements are true about adding columns to a SQL table? Select all that apply.

- You can add constraints when creating the column ***
- You can set default values for the column when it is added ***
- You can add the `CASCADE` keyword to cascade all current relationships in the table
- New columns need to be set with the `text` data type
- You can only add two additional columns after the table is first created

## Which of the following are options you can use with `ALTER TABLE`? Select all that apply.

- Renaming of columns ***
- Dropping of columns ***
- Changing column types ***
- Adding and removing column constraints ***
- Drop the table
- Truncate the table

## Which syntax is the correct syntax for renaming a column in SQL?

- `RENAME {previous_column_name} TO {new_column_name};` ***
- `RENAME {new_column_name} TO {previous_column_name} ;`
- `RENAME [{previous_column_name}, {new_column_name}];`
- `RENAME [{previous_column_name}: {new_column_name}];`

## Which syntax is the correct syntax for inserting new data into a table?

- `INSERT INTO {table_name} ({column_1}, {column_2}, ....) VALUES ({column_1 value}, {column_2 value}, ......);` ***
- `VALUES {table_name} ({column_1}, {column_2}, ....) INSERT INTO ({column_1 value}, {column_2 value}, ......);`
- `INSERT INTO ({column_1}, {column_2}, ....) VALUES ({column_1 value}, {column_2 value}, ......);`
- `INSERT INTO [{table_name} ({column_1}, {column_2}, ....] [VALUES ({column_1 value}, {column_2 value}, ......];`

## What three SQL keywords can be used in conjunction to `UPDATE` a SQL table?

- `UPDATE`, `SET` and `WHERE` ***
- `LIMIT`, `SELECT` and `UPDATE`
- `ORDER BY`, `SET` and `UPDATE`
- `GROUP BY`, `SET` and `UPDATE`