# Solutions to Intro to Pandas

### Solution:
- Use what you have just learned about .apply() to find out how many Job Titles have the word 'police' in them.

In [13]:
# define function to find 'police' first

def find_police(x):
    return 'police' in x.lower()

# use apply to search for it in JobTitle
sum(sf_sal['JobTitle'].apply(find_police))

139

### Solution:
- Use what you have just learned about conditional selection to find the following:

1. A DataFrame containing the Name, Total Pay (with Benefits), Job Title and Base Pay of the employee named 'Albert Pardini'.

In [16]:
sf_sal[sf_sal['EmployeeName']=='ALBERT PARDINI'][['EmployeeName', 'TotalPayBenefits', 'JobTitle', 'BasePay']]

,EmployeeName,TotalPayBenefits,JobTitle,BasePay
Id,,,,
AC,ALBERT PARDINI,335279.91,CAPTAIN III (POLICE DEPARTMENT),212739.13

2. The highest paid person in terms of Base Pay. (look up the .max() method)

In [20]:
sf_sal[sf_sal['TotalPayBenefits']== sf_sal['BasePay'].max()]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,Surname
Id,,,,,,,,,,,,,
AM,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.0,0.0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN,HARRINGTON

Use the .loc method with the .idxmax method to find:
- The lowest paid person in overall pay (with benefits). (look up the .min() method)

In [25]:
sf_sal.loc[sf_sal['TotalPayBenefits'].idxmin()]

EmployeeName                               JULIAN NG
JobTitle            SERGEANT III (POLICE DEPARTMENT)
BasePay                                       130458
OvertimePay                                  43793.1
OtherPay                                      6061.8
Benefits                                         NaN
TotalPay                                      180313
TotalPayBenefits                              180313
Year                                            2011
Notes                                            NaN
Agency                                 San Francisco
Status                                           NaN
Surname                                           NG
Name: ZZ, dtype: object